@model Clientes
<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5 ">
        <form asp-controller="Clientes" asp-action="ModificarCliente" method="post">
            <section class="form-group p-2">
                <label asp-for="Nombre" class="form-label">Nombre cliente:</label>
                <input type="text" asp-for="Nombre" class="form-control-sm" value="@Model.Nombre">
            </section>
            <section class="form-group p-2">
                <label asp-for="Email" class="form-label ">Email:</label>
                <input type="email" asp-for="Email" class="form-control-sm" value="@Model.Email">
            </section>         
            <section class="form-group p-2">
                <label asp-for="Telefono" class="form-label">Telefono:</label>
                <input type="text" asp-for="Telefono" class="form-control-sm" value="@Model.Telefono">
            </section>
            <input type="hidden" asp-for="ClienteId" value="@Model.ClienteId">
            <section  class="form-group p-2">
                <input type="submit" value="Modificar" class="btn btn-primary">
                <a class="btn btn-danger " asp-controller="Clientes" asp-action="Index">volver</a>
            </section>
        </form>
    </article>
</section>

